@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}
.body h1{
    padding: 0 44px;
}
nav ul h1{
    padding:  0 22px;
}
.body{
    height: 530px;
    background-image: url('home-background.jpg');
}
.body-extra{
    height: 555px;
}
#head1{
    color: whitesmoke;
}
.cards{
    display: flex;
}
.card1{
    margin: auto;
    height: 275px;
    background-color: rgb(75, 110, 238);
    padding: 10px;
    width: 300px;
    color: whitesmoke;
    border-radius: 20px;
}
.card1 p{
    padding-left: 22px;
    padding-right: 22px;
}
.card1 h1{
    padding-left: 22px;
    padding-right: 22px;
}
.card2{
    margin: auto;
    height: 275px;
    background-color: rgb(75, 110, 238);
    padding: 10px;
    width: 300px;
    color: whitesmoke;
    border-radius: 20px;
}
.card2 p{
    padding-left: 22px;
    padding-right: 22px;
}
.card2 h1{
    padding-left: 22px;
    padding-right: 22px;
}
.card3{
    margin: auto;
    height: 275px;
    background-color: rgb(75, 110, 238);
    padding: 10px;
    width: 300px;
    color: whitesmoke;
    border-radius: 20px;
}
.card3 p{
    padding-left: 22px;
    padding-right: 22px;
}
.card3 h1{
    padding-left: 22px;
    padding-right: 22px;
}
.button-card1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 3px solid green;
}
.card1:hover{
    margin: auto;
    height: 275px;
    background-color: rgb(5, 171, 248);
    padding: 10px;
    width: 300px;
    color: #000000;
    border-radius: 20px;
}
.card1:hover{
    margin: auto;
    height: 275px;
    background-color: rgb(5, 171, 248);
    padding: 10px;
    width: 300px;
    color: #000000;
    border-radius: 20px;
}
.card1 button{
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 88px;
    border-radius: 25px;
    background-color: blue;
    color: aliceblue;
    border-color: blue;
}
.card2 button{
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 88px;
    border-radius: 25px;
    background-color: blue;
    color: aliceblue;
    border-color: blue;
}
.card2:hover{
    margin: auto;
    height: 275px;
    background-color: rgb(5, 171, 248);
    padding: 10px;
    width: 300px;
    color: #000000;
    border-radius: 20px;
}
.card3 button{
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 88px;
    border-radius: 25px;
    background-color: blue;
    color: aliceblue;
    border-color: blue;
}
.card3:hover{
    margin: auto;
    height: 275px;
    background-color: rgb(5, 171, 248);
    padding: 10px;
    width: 300px;
    color: #000000;
    border-radius: 20px;
}
@media  and (max-width: 900px) {
    .card{
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
    }
}